#login_form
  form(name='loginController.login_form', ng-submit='loginController.submitLogin()')
    .form-group
      input#email(
        type='email',
        name='email',
        placeholder="{{'login.email' | translate}}",
        ng-model='loginController.email',
        ng-model-options="{updateOn: 'blur'}",
        required='')
    .form-group
      input#password(
        type='password',
        name='password',
        placeholder="{{'login.password' | translate}}",
        ng-model='loginController.password',
        ng-model-options="{updateOn: 'blur'}",
        required='')
    button#login_submit(type='submit') {{'login.login' | translate}}

  button#show_register(ng-click='loginController.showRegister()')
    {{'login.register' | translate}}
